<%- include('../layout/header.ejs') %>

<h1 class="display-4 p-5 text-center">Add New Comment to <%= campground.name %></h1>
<div class="container" style="width: 50%;">
  <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
    <div class="form-group">
      <label for="description">Text</label>
      <input type="text" description="text" name="comment[text]" class="form-control">
    </div>
    <button type="text" class="btn btn-primary btn-block">Submit</button>
  </form>
  <a href="/campgrounds">Go Back</a>

</div>
<%- include('../layout/footer.ejs') %>